certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cssselect==1.1.0
Flask==1.1.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.5.0
MarkupSafe==1.1.1
pamqp==2.3.0
psycopg2==2.8.5
python-dotenv==0.13.0
rabbitpy==2.0.1
requests==2.23.0
selenium==3.141.0
urllib3==1.25.9
Werkzeug==1.0.1
gunicorn==20.0.4
